/*====== Google Fonts  ======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
/*====== Couleurs ======*/


--text-color: #fff;
--text-color-2: #af00af;
--text-color-3: #580758;

/*====== Font size ======*/
--h1-font-size: 2.5rem;
--h2-font-size: 1.5rem;
--h3-font-size: 1.25rem;
--normal-font-size: 1rem;
--small-font-size: 0.812rem;
--smaller-font-size: 0.75rem;

/*====== Font Weight ======*/
--font-regular: 400;
--font-semi-bold: 600;
--font-bold: 700;

/*====== Margins ======*/
--mar-1: 6rem;
--mar-2: 3rem;
--mar-3: 1.5rem;
--mar-4: 1rem;
--mar-5: 0.5rem;

/*====== Paddings ======*/
--pad-1: 6rem;
--pad-2: 3rem;
--pad-3: 1.5rem;
--pad-4: 1rem;
--pad-5: 0.5rem;

/*====== z-index ======*/
--z-fixed: 100;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  All  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../common/media/sources/bg05.png);
    height: 100vh;
}

fieldset{
    background:linear-gradient(rgba(255,255,255,0.4),rgba(250,250,250,0.6), rgba(255,255,255,0.4) );
    width: 410px;
    padding: 2rem;
    border:none;
    border-radius: 10px;
    color:var(--text-color-3);
}

span {
    color: black;
}

#avatar{
    background-image: url(img/default-avatar.png);
    background-size: cover;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid var(--text-color-2);
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

img{
    opacity: 0;
}

img:hover{
    opacity:0.7;
}

#avatar:hover{
    transform: scale(1.02);
}

.text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 2em;
}

.text div {
    margin: 5px 0;
}

.boutons {
    position: relative;
    bottom: 0;
}


textarea{
    resize: none;
}


.input{
    text-align: center;
}

input[type="button"]{
    background: var(--text-color-3);
    cursor: pointer;
}

input[type="submit"]{
    background: #28A745;
    cursor: pointer;
}

input[type="submit"],input[type="button"]{
    border: none;
    border-radius: 2px;
    width:7rem;
    padding: 1rem ;
    color: white;
}

input[type="password"]{
    float: none;
    border-radius: 2px;
    padding: 1em 1.5em;
    margin: 1em auto;
}

.delete{
    margin-top: 1rem;
    font-weight: var(--font-bold);
    cursor: pointer;
    color: #fc7169;
}

/* POP UP COMPTE */

#popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
}

.popupcontainer{
    position: relative;
    top: 36%;
    left: 50%;
    width: 300px;
    transform: translateX(-50%);
    background-color: #FEDE76;
    border-radius: .3rem .3rem 0 0;
}

.popupcontainer p {
    color: #193250;
    padding: 2em 0;
}

#popup a {
    padding: 1.5em 0;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    display: block;
}

#popup li:hover{
    opacity: 0.9;
}
ul{
    list-style: none;
}
li{
    float: left;
    width: 50%;
}

li:first-child a{
    background: #ff3025;
    border-radius: 0 0 0 .25em;
}

li:last-child a{
    background: #475B73;
    border-radius: 0 0 .25em 0;
}
